# Generic
set_io CLK_16MHZ B2
set_io -pullup yes RESETN A2
set_io LED B3

# SPI
set_io SPI_CLK G2
set_io SPI_MOSI H1
set_io SPI_MISO J1
set_io -pullup yes SPI_SS H2

# SPI Flash
set_io FLASH_CS F7
set_io FLASH_CLK G7
set_io FLASH_MOSI G6
set_io FLASH_MISO H7
set_io FLASH_WP H4
set_io FLASH_HOLD J8

# Probe pins
set_io PROBE_1 A1
set_io PROBE_2 B1
set_io PROBE_3 C2
set_io PROBE_4 C1
set_io PROBE_5 D2
set_io PROBE_6 D1
